- if page.date
  .content-meta
    %p.meta
      - if (! page.categories.empty?)
        in
        - page.categories.each do |category|
          - if category != page.categories[-1]
            = succeed ',' do
              %a(href="#{category.abspath}")= category.heading
          - else
            %a(href="#{category.abspath}")= category.heading