- unless pages.empty?
  - pages.each do |page|
    .entry
      %h1
        %a(href="#{page.abspath}")= page.heading
      %h2 
        Posted
        - if page.date
          on 
          = format_date(page.date)
        - if page.author
          by
          - if author_uri(page.author)
            %a(href="#{author_uri(page.author)}")= page.author
          - else
            ~ page.author

      - if page.summary.nil? || page.summary.empty?
        ~ page.body
      - else
        ~ page.summary
        %p.more
          %a(href="#{page.abspath}")= page.read_more